extends layout
block content
    .auth-container
        .auth-form
            h1 Reset Password
            if error
                .alert.alert-error #{error}
            if success
                .alert.alert-success #{success}
            form(action='/forgot-password' method='POST')
                .form-group
                    label Email
                    input(type='email' name='email' placeholder='Enter your registered email' required)
                .form-group
                    label New Password
                    input(type='password' name='newPassword' placeholder='Enter new password' required)
                .form-group
                    label Confirm New Password
                    input(type='password' name='confirmPassword' placeholder='Confirm new password' required)
                button.btn.btn-green(type='submit') Reset Password
            .auth-link
                a(href='/login') Back to Login