html
    head
        title CommunityShare
    body
        nav
            a(href='/') Home
            |  | 
            a(href='/listings') Browse Listings
            |  | 
            a(href='/users') Users
        block content