extends layout
block content
    h1.page-title Edit My Profile

    .form-container
        form(action='/profile/edit' method='POST' enctype='multipart/form-data')
            .form-group
                if user.profilePic
                    img(src=user.profilePic style='width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;')
                label Profile Picture
                input(type='file' name='profilePic' accept='image/*')
            .form-group
                label Username
                input(type='text' name='username' value=user.username required)
            .form-group
                label Email
                input(type='email' value=user.email disabled)
                p(style='color: #999; font-size: 0.85em; margin-top: 4px;') Email cannot be changed
            .form-group
                label Location
                input(type='text' name='location' value=user.location placeholder='e.g. London, UK')
            button.btn.btn-green(type='submit') Save Changes
        br
        a(href='/users/' + user.userID) Cancel