extends layout
block content
    h1 #{programme.name}
    p Programme ID: #{programme.id}
    h2 Modules
    table(border=1)
        tr
            th Code
            th Name
        for item in modules
            tr
                td #{item.code}
                td #{item.name}