extends layout
block content
    h1.page-title All Users

    if data.length === 0
        p No users found.
    else
        table.styled-table
            thead
                tr
                    th Username
                    th Email
                    th Member Since
            tbody
                for user in data
                    tr
                        td
                            a(href='/users/' + user.userID) #{user.username}
                        td #{user.email}
                        td #{new Date(user.createdAt).toLocaleDateString()}